body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    text-align: center;
    background-color: #E0FBFC;
}

img {
    width: 300px;
    border-radius: 5px;
    margin: 0 10px;
}

.header-img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#logo-web {
    width: 200px;
    background-color: #A3D9FF;
    padding: 10px 15px;
    width: 200px;
}

.about {
  max-width: 600px;
  margin: 0 auto;  
}

#logo-web:hover {
    box-shadow: #3D5A80 0px 0px 0px 3px, #98C1D9 0px 0px 0px 6px, #E0FBFC 0px 0px 0px 9px, #EE6C4D 0px 0px 0px 12px, #293241 0px 0px 0px 15px;
    width: 300px;
}